*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    background-color: darkblue;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 25px;
    color: white;
}

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: #eff5f8;
}

h2 {
  font-size: 3em;
  margin: 0px;
  margin-top: 0.45em;
  margin-bottom: 0.45em;
}

button {
  background-color:#001b44;;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
  float: right;
}

ul{ 
  list-style: none;
  justify-content: space-around;
  display:flex;
  width: 100%;
  padding-inline-start:0px;
}


.card {
  background-color: #fff;
  border: 1px solid #eceff1;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
  margin: 2%;
  margin-top: 80px;
  padding: 20px;
  width: 46%;
  overflow: hidden;
  position: relative;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#wordInput {
    font-size: 300%;
}

#results{

}
.card::after {
  content: " ";
  display: block;
  clear: both;
}


#msg {
  visibility: hidden;
  margin-top: 20px;
  font-weight: 700;
  height: 1.2em;
  font-size: 1.2em;
}

#msg.success,
#msg.error {
  visibility: visible;
}

#msg.success {
  color: #001b44;;
}

#msg.error {
  color: #e6252c;
}
